body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 600px;
  margin: auto;
  padding: 20px;
  margin: 20px;
  box-sizing: border-box;
  border: 2px solid #dfdfdf;
}

input {
  padding: 2px;
  flex-grow: 1;
  margin: 5px;
  height: 1.5rem;
  border-radius: 4px;
}

input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
}